* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font: 1rem/1.3 "Roboto", sans-serif;
    padding: 50px;
    max-width: 80%;
    margin: auto;
}

.searching input[type=search] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.searching button[type=submit] {
    width: 29%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.searching button[type=submit]:hover {
    background-color: #45a049;
}
  
.searching, .results {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}
.results {
    min-height: 250px;
}

/* from w3schools.com */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 5px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}  
.closebtn:hover {
    color: black;
}

.hidden {
    display: none;
}

.results .container {
    float: left;
    width: 50%;
    padding: 15px;
}

.results .container:first-child {
    border-right-style: inset;
    border-color: #4CAF50;
}

.results:after {
    content: "";
    display: table;
    clear: both;
}

.results h2 {
    font-weight: bold;
    font-size: 18px;
    color: #4CAF50;
}

