.results img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.results ul {
    list-style: none;
}

.flex-container-images {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container-images > div {
    margin: 15px;
    text-align: center;
    line-height: 75px;
}

.snippets .title {
    font-weight: bold;
    display: block;
    font-size: 16px;
    
}

.snippets .title a:link, .snippets .title a:visited {
    text-decoration: none;
    color: #1155CC;
}
.snippets .title a:hover, .snippets .title a:active {
    text-decoration: underline;
    color: #1155CC;
}

.snippets .url {
    display: block;
    font-size: 13px;
    color: #45a049;
}

.snippets .snippet {
    font-size: 15px;
}

.snippets li {
    margin: 15px;
}
